@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
body {
  margin: 0;
  padding: 0;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-r1;
  text-orientation: upright;
  text-decoration: none;
  text-indent: 1rem;
  overflow-y: hidden;
  background-color: #0F111A;
  color: #9EC7C0;
}
p {
  font-family: 'Noto Serif JP', serif;
  font-size: 1rem;
}
/* Iphone 6 Plus, 7 Plus */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { 
  p {
    font-size: 1.2rem;
  }
}
/* Iphone 6, 7 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
  p {
    font-size: 1.4rem;
  }
}
